header,
main,
.ls,
.rs{
    border: 2px black solid;
}
section{
    border: 20px solid black;
    margin: 5px;
    width: 90%;
    height: 220px;
    background-color: red;
}


main{
    display: grid;

}
pre{
    overflow: scroll;
    width: 500px;
    height: 200px;
}
